<h1>All Products</h1>
<% @products.each do |product| %>
	  <div class="front">
	  	<h3><%= product[:name] %></h3>
	  	<%= product[:description] %></br>
	  	<%= product.category.inspect %></br>
	  	<%= product.formatted_price + " Dollars" %></br>
	  	<%= product.reviews.all.count.to_s + " Reviews" %></br>
	  	<%= link_to 'Show', product_path(product) %>
	  	
	  	<% if current_user %>
	  	<a href="<%=  edit_product_path(product) %>">edit product</a>
	  	<%= link_to 'Destroy', product_path(product),
	  	method: :delete, data: { confirm: 'Are you sure?' } %>
	  	<% end %>
	</div>
	<hr>
<% end %>